.Cart {
    padding: 11vh 10vw;
    min-height: 100vh;
}

.Cart h2 {
    text-align: center;
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 5vh;
}

.Cart ul {
    list-style: none;
    border: solid 1px var(--secundary-color);
    padding: 25px 17px 0px 17px;
    border-radius: 10px;
}

.CartContent {
    margin-top: 20px;
}

.CartContent span {
    color: white;
    font-weight: bold;
}

.CartContent p {
    color: var(--primary-color);
    margin-bottom: 5px;
}

.Cart button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    margin-top: 20px;
    border-radius: 7px;
    color: var(--background);
    font-size: 26px;
}

.EmptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.EmptyCart svg {
    width: 200px;
    height: 200px;
    color: var(--secundary-color);
}

.EmptyCart p {
    margin-top: 25px;
    font-size: 1.8rem;
    color: var(--secundary-color);
}
.EmptyCart a p{
    text-decoration: underline;
    color: white;
}