.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5vh;
    height: 10vh;
    position: fixed;
    width: 100vw;
    top: 0px;
    color: white;
    background: var(--background);
    z-index: 30;
}
.HeaderCart {
    position: relative;

}
.HeaderCart p {
    position: absolute;
    top: -10px;
    right: -6px;
    background-color: var(--primary-color);
    padding: 2px 5px;
    color: var(--background);
    border-radius: 48%;
    font-size: 14px;
}
.Header svg {
    width: 40px;
    height: 40px;
}