.JerseyMiniCard {
    display: flex;
    border: solid 1px var(--primary-color);
    height: 8vh;
    border-radius: 7px;
    background-color: white;
    position: relative;
}

.JerseyMiniCard svg {
    position: absolute;
    right: 5px;
    bottom: 10px;
    color: var(--secundary-color);
    width: 20px;
    height: 20px;
}

.JerseyMiniCard-Img-Container {
    width: 30%;
    height: 100%;
}

.JerseyMiniCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.JerseyMiniCard-Content {
    width: 70%;
    font-size: 14px;
    padding: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.JerseyMiniCard-Content div {
    display: flex;
    width: 40%;
    justify-content: space-between;
}