.JerseyMiniCard {
    display: flex;
    border: solid 1px var(--primary-color);
    height: 8vh;
    margin-bottom: 25px;
    border-radius: 7px;
    background-color: white;
}

.JerseyMiniCard-Img-Container {
    width: 30%;
    height: 100%;
}

.JerseyMiniCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.JerseyMiniCard-Content {
    width: 70%;
    font-size: 14px;
    padding: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}