.Home-Landing {
    height: 100vh;
    padding: 0px;
}

.Home-Landing svg {
    width: 140px;
    width: 140px;
}

.Home-Landing-Image {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    background-color: rgb(43, 43, 43);
}

.Home-Landing-Content img {
    width: 157px;
    height: auto;
}

.Home-Landing-Content {
    min-height: 44vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px 0px 25px;
    margin: 0px;
}

.Home-Landing-Content section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home-Landing-Content div {
    color: var(--primary-color);
    width: 62vh;
}

.Home-Landing-Content div h2 {
    font-size: 35px;
}

.Home button {
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    width: min-content;
    white-space: nowrap;
    padding: 10px 5px;
    border-radius: 7px;
    background: none;
    font-size: 22px;
    margin-top: 20px;
}


.Home-Envios,
.Home-Pedidos,
.Home-Mayor {
    min-height: 100vh;
}

.Home-Envios div,
.Home-Pedidos div,
.Home-Mayor div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.Home-Envios img,
.Home-Pedidos img,
.Home-About img,
.Home-Mayor img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.Home-Envios p,
.Home-Pedidos p {
    padding: 25px;
    font-size: 30px;
    font-weight: 900;
    color: var(--primary-color);
}

.Home-Envios svg,
.Home-Pedidos svg,
.Home-Mayor svg {
    margin-top: 30px;
    color: var(--primary-color);
    width: 140px;
    height: 140px;
}


.Home-Frase {
    min-height: 70vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home-Frase p {
    font-size: 50px;
    color: var(--background);
    font-weight: 900;
    padding: 25px;
}

.Home-Frase button {
    border: solid 2px var(--background);
    color: var(--background);
    font-size: 30px;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 80px;
}

.Home-Mayor p {
    padding: 25px;
    font-size: 30px;
    font-weight: 900;
    color: white;
}

.Home-Mayor p span {
    color: var(--primary-color);
}

.Home-Mayor svg {
    margin-top: 20px;
    color: white;
    width: 140px;
    height: 140px;
}

.Home-About div {
    padding: 30px 25px;
    color: white;
}

.Home-About h2 {
    font-size: 30px;
    width: 50%;
    color: var(--primary-color);
}

.Home-About p {
    margin-top: 15px;
    font-size: 22px;
    text-align: justify;
}

@media (min-width: 800px) {
    .Home-Landing {
        position: relative;
    }

    .Home-Landing-Image {
        height: 100vh;
        filter: brightness(0.4);
    }

    .Home-Landing-Content {
        position: absolute;
        top: 10px;
        height: 100%;
        width: 100%;
    }

    .Home-Landing-Content section h2 {
        font-size: 72px;
    }

    .Home-Landing-Content section {
        justify-content: space-between;
        width: 100%;
    }

    .Home-Landing-Content section img {
        width: 300px;
    }

    .Home-Landing-Content div {
        width: auto;
    }

    .Home-Landing button {
        font-size: 44px;
        padding: 20px 10px;
    }

    .Home-Envios,
    .Home-Pedidos,
    .Home-Mayor {
        display: flex;
        align-items: center;

    }

    .Home-Envios p,
    .Home-Pedidos p,
    .Home-Mayor p {
        font-size: 60px;
    }

    .Home-Envios div,
    .Home-Pedidos div,
    .Home-Mayor div {
        justify-content: space-evenly;
        height: 90vh;
    }

    .Home-Envios svg,
    .Home-Pedidos svg,
    .Home-Mayor svg {
        width: 200px;
        height: 200px;

    }

    .Home-Pedidos,
    .Home-About {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }


    .Home-About h2 {
        font-size: 48px;
    }

    .Home-About p {
        font-size: 45px;
    }

    .Home-Envios img,
    .Home-Pedidos img,
    .Home-About img,
    .Home-Mayor img {
        width: 50vw;
        min-height: 100vh;
        max-height: 100%;
        object-fit: cover;
    }


}



@media (min-width: 416px) {
    .Home-About h2 {
        font-size: 48px;
    }

    .Home-About p {
        font-size: 28px;
    }

    .Home-Landing button {
        font-size: 44px;
        padding: 20px 10px;
    }

    .Home-Envios p,
    .Home-Pedidos p,
    .Home-Mayor p {
        font-size: 50px;
    }
}

@media (max-height: 800px) {
    .Home-Mayor svg {
        width: 130px;
        height: 130px;
        padding: 12px;
    }
}