.Home-Landing {
    height: 100vh;
    padding: 0px;
}

.Home-Landing-Image {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    background-color: rgb(43, 43, 43);
}

.Home-Landing-Content img {
    width: 157px;
    height: auto;
}

.Home-Landing-Content {
    height: 44vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px 0px 10px;
    align-items: center;
    margin: 0px;
}

.Home-Landing-Content div {
    color: var(--primary-color);
    width: 62vh;
}

.Home-Landing-Content div h3 {
    font-size: 38px;
}

.Home-Landing-Content div p {
    border: solid 1px var(--primary-color);
    width: min-content;
    white-space: nowrap;
    margin-top: 3vh;
    padding: 7px;
    border-radius: 7px;
}


.Home-Envios {
    height: 100vh;
}

.Home-Envios div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.Home-Envios img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.Home-Envios p {
    padding: 20px;
    font-size: 42px;
    font-weight: 900;
}

.Home-Envios svg {
    margin-top: 30px;
    color: var(--secundary-color);
}