.ProductPage{
    min-height: 100vh;
    max-height: auto;
}
.ProductPage-ImgDiv{
    width: 100%;
    height: 55vh;
}
.ProductPage-ImgDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ProductPage-Content {
   padding: 12px;
   font-size: 16px;
   height: 45vh;
}
.ProductPage-Content h2{
    font-size: 30px;
    color: var(--primary-color);
}
.ProductPage-Content div {
    padding: 10px 0px;
}
.ProductPage-Content-Info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ProductPage-Content-Info ul {
    list-style: none;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 0.8fr);
    grid-template-rows: repeat(3, 0.5fr);
    grid-gap: 10px;
}
.ProductPage-Content-Info li {
    display: flex;
    padding: 5px 0px;
    margin-right: 20px;
    flex-wrap: wrap;
    border: solid 1px red;
}
.ProductPage-Content-Info li span {
    color: var(--secundary-color);
    margin-right: 7px;
}
.ProductPage-Content section p {
    font-size: 18px;
    color: var(--secundary-color);
}
.ProductPage-Content-Info-p {
    color:var(--primary-color);
}

.ProductPage-Content-Buy {
    background-color: var(--primary-color);
    width: 100%;
    font-size: 26px;
    margin-top: 5px;
    padding: 10px 0px;
    border-radius: 10px;
    color: var(--background);
    margin-top: 15px;
}
.ProductPage-Content section button {
    color: white;
    background-color: var(--secundary-color);
    padding: 5px 15px;
    font-size: 22px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}