@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed:ital@1&display=swap');

:root {
  --background: #080808;
  --primary-color: #9BFD5C;
  --secundary-color: #909090;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
